.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  /* src/components/ChatbotButton.css */
  .chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 20px; /* Increase padding for width */
    border-radius: 25px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .chatbot-icon {
    width: 250px; /* Adjust size to fit within the button */
    height: 80px;
    margin-right: 10px; /* Space between icon and text */
  }
  
  .chatbot-text {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  
  
  .chat-window {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    padding: 10px;
  }
  
  .chat-header {
    background-color: #e8f4f8;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
  }
  
  .chat-header h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .chat-header p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  